html, body {
    height: 100%;
    font-family: 'Futura LT Book', sans-serif;
}

.container {
    max-width: 1176px;
}

.header-section {
    background: black;
    text-align: center;
    padding: 16px 90px;
    position: relative;
}

.main-menu-left {
    float: left;
}

.site-menu-style {
    list-style: none;
}

ul, ol {
    padding: 0;
    margin: 0;
}

.site-logo {
    display: inline-block;
    padding-right: 80px;
}

.main-menu-right {
    float: right;
    padding-right: 16px;
}

.site-menu-style li {
    display: inline-block;
}

.site-menu-style li a {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 50px;
    padding: 22px 0px;
    display: inline-block;
}

.mobile-nav-switch, .mobile-menu {
    display: none;
}

.mobile-nav-switch, .mobile-menu {
    display: none;
}

.mydiv1{
    display: inline-block;
    position: relative;
    padding-top: 20px;
    height: 100px;
    width: 200px;
    background: blue;
}

.mydiv2{
    display: inline-block;
    height: 100px;
    width: 200px;
    background: red;
}

.nav{
    position: fixed;
    background: pink;
    left: 0px;
    right: 0px;
    top: 0px;
}